
.login /*login, role*/
{
	position:absolute;
	top:170px;
	left:270px;
	border: 1px;
	border-collapse: collapse;
	width:60%;
	height:50%;
	text-align:center;
	padding: 10px;
	background-color: #FFFFFF;
	table-layout: fixed;
}

.hp /*a_hp*/
{
	margin-left:auto;
	margin-right:auto;
	border: 0px;
	border-collapse: collapse;
	width:60%;
	height:50%;
	padding: 10px;
	background-color: #FFFFFF;
	table-layout: fixed;
}

.f1 /*login, role*/
{
	font-size: 40px;
	color: #2874A6;
	font-weight:bold;
	text-decoration:underline;
}

.f2 /*login, role*/
{
	font-size: 20px;
	color: #2874A6;
	font-weight:bold;
}

.f3 /*a_hp*/
{
	font-size: 30px;
	color: #2874A6;
	font-weight:bold;
	text-decoration:none;
}

input /*login*/
{
	background-color: #FFFFFF;
	color: #2874A6;
	border: 1px solid #2874A6;
	padding: 15px;
	text-align: left;
	font-size: 15px;
	border-radius: 5px;
}

.button /*login*/
{
	background-color: #FFFFFF;
	color: #2874A6;
	border: 2px solid #2874A6;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 15px;
}
.button:hover /*login*/
{
	background-color: #2874A6;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 15px;
}

.role /*role*/
{
	height:60%;
	width:70%;
}

.role:hover /*role*/
{
	border-radius: 50%;
	box-shadow: 0 0 2px 1px;
}
.container 
{
	width:980px;
    margin:0 auto;
    padding:10px 35px;
    border:5px solid #3090C7;
    background:#CEECF5; 
}
.buttn {
	box-shadow:inset 0px 1px 0px 0px #CEECF5;
	background:linear-gradient(to bottom, #CEECF5 5%, #CEECF5 100%);
	background-color:#CEECF5;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#CEECF5;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
}
.buttn:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#CEECF5;
}
.buttn:active {
	position:relative;
	top:1px;
}
hr
{
	border:5px solid #3090C7;
	
}
